{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <main class="my-5">
        <section class="registerForm py-5">
            <div class="container d-flex flex-column align-items-center">
                {% for flash_error in app.flashes('verify_email_error') %}
                    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                {% endfor %}

                {% for message in app.flashes('success') %}
                    <div class="alert alert-success mt-4">
                        {{ message }}
                    </div>
                {% endfor %}

                <h1 class="text-center mb-3">Inscription</h1>

                <div class="container">
                    <div class="encart">
                        {{ form_start(registrationForm) }}
                        <div class="class-errors">
                            {{ form_errors(registrationForm)}}
                        </div>
                        <form>
                            <!-- 2 column grid layout with text inputs for the first and last names -->
                            <div class="row mb-4">
                                <div class="col">
                                    <div class="form-outline">
                                        <input type="text" id="form6Example1" class="form-control"/>
                                        <label class="form-label" for="form6Example1">{{ form_row(registrationForm.firstname, {
                                            label: 'Prénom'
                                        }) }}</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-outline">
                                        <input type="text" id="form6Example2" class="form-control" />
                                        <label class="form-label" for="form6Example2">{{ form_row(registrationForm.name, {
                                            label: 'Nom'
                                        }) }}</label>
                                    </div>
                                </div>
                            </div>

                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                <input type="email" id="form6Example5" class="form-control" />
                                <label class="form-label" for="form6Example5">{{ form_row(registrationForm.email, {
                                    label: 'Email'
                                }) }}</label>
                            </div>

                            <!-- password input -->
                            <div class="form-outline mb-4">
                                <input type="password" id="form6Example4" class="form-control" />
                                <label class="form-label" for="form6Example4">{{ form_row(registrationForm.password.first,{
                                    label: 'Mot de passe'
                                }) }}</label>
                            </div>


                            <!-- password input -->
                            <div class="form-outline mb-4">
                                <input type="password" id="form6Example4" class="form-control" />
                                <label class="form-label" for="form6Example4">{{ form_row(registrationForm.password.second,{
                                    label: 'Confirmer le mot de passe'
                                }) }}</label>
                            </div>

                            <!-- Text input -->
                            <div class="form-outline mb-4">
                                <textarea id="form6Example4" class="form-control" /></textarea>
                                <label class="form-label" for="form6Example4">{{ form_row(registrationForm.adress,{
                                    label: 'Adresse'
                                }) }}</label>
                            </div>

                            <!-- Number input -->
                            <div class="form-outline mb-4">
                                <input type="text" id="form6Example6" class="form-control" />
                                <label class="form-label" for="form6Example6">{{ form_row(registrationForm.phone, {
                                    label: 'Téléphone'
                                })}}</label>
                            </div>

                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary btn-block mb-4">S'enregistrer</button>
                        </form>
                        {{ form_end(registrationForm) }}
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
