{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success mt-4">
                {{ message }}
            </div>
        {% endfor %}

        <h1>Formulaire de contact</h1>

        {{ form_start(contactForm) }}
            {{ form_row(contactForm.fullName, {
                label: 'Nom et Prénom',
                class: 'form-label mt-4'

            }) }}
            {{ form_row(contactForm.email, {
                label: 'Adresse Email',
                class: 'form-label mt-4'
            }) }}
            {{ form_row(contactForm.subject, {
                label: 'Sujet',
                class: 'form-label mt-4'
            }) }}
            {{ form_row(contactForm.message, {
                label: 'Message',
                class: 'form-label mt-4'
            }) }}
            <button type="submit" class="btn btn-primary mt-4">Envoyer</button>
        {{ form_end(contactForm) }}
    </div>
{% endblock %}
