{% extends 'base.html.twig' %}


{% block title %}Etang des Garennes{% endblock %}


{% block body %}

    <main class="mt-5">

        <section class="cottageList cottages p-5">
            <div class="container text-center">
                <h1 class="text-center mb-3 font-weight-normal">Nos chambres</h1>

                <div class="row m-5 justify-content-md-center">

                {% for cottage in cottages %}
                    <div class="col-lg-4 col-md-8 mb-4">
                        <div class="card h-100">
                            <div
                            class="bg-image hover-overlay hover-zoom ripple fix-size"
                            data-mdb-ripple-color="light"
                            >
                                <img
                                    src="{{ asset('build/pexels-maria-orlova-4906407.jpg') }}"
                                    class="card-img-top"
                                />
                                <a href="{{ path('app_cottage_id', {'id': cottage.id}) }}">
                                    <div
                                    class="mask"
                                    style="background-color: rgba(251, 251, 251, 0.15)"
                                    ></div>
                                </a>
                            </div>
                            <div class="card-body">
                                <h3 class="card-title">{{ cottage.name }}</h3>
                                <h4 class="card-subtitle">{{ cottage.price }}€</h4>
                                <p class="card-text">
                                    {{ cottage.description }}
                                </p>
                            </div>
                            <div class="card-footer">
                                <a href="{{ path('app_cottage_id', {'id': cottage.id}) }}" class="btn-home mb-2 btn-block">Voir</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
        
                </div>
             
            </div>

        </section>

    </main>

{% endblock %}
