{% extends 'base.html.twig' %}


{% block title %}Etang des Garennes{% endblock %}


{% block body %}


    <main id="cottageId" class="mt-5">
        <section class="p-5">
            <div class="container text-center">
                <h2>{{ cottage.name }}</h2>
            </div>
             <div class="row">
          <div class="col-md-6 gx-5 mb-4">
            <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
              <img src="{{ asset('build/pexels-maria-orlova-4906407.jpg') }}" class="img-fluid" />
                <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
          </div>

          <div class="col-md-6 gx-5 mb-4">
            <h4>Description de la chambre</h4>
            <p class="text-muted">{{ cottage.description}}</p>
            <p class="text-muted">Capacité : {{ cottage.capacity}}</p>
            <p class="text-muted">Prix par nuit : {{ cottage.price}} €</p>
          </div>
        </div>

        </section>

    </main>

    <table class="table">
        <thead>
            <tr>
                <th>Clients</th>
                <th>ArrivalDate</th>
                <th>DepartureDate</th>
                <th>Duration</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
            </tr>
        </thead>
        <tbody>
        {% for booking in bookings %}
            <tr>
                <td>
                {% for client in booking.clients %}
                    Nom : {{ client.name }} Prénom : {{ client.firstName }} / {{ client.email }}
                    {% if not loop.last %}
                    {% endif %}
                {% endfor %}
                </td>
                <td>{{ booking.arrivalDate ? booking.arrivalDate|date('d-m-Y H:i') : '' }}</td>
                <td>{{ booking.departureDate ? booking.departureDate|date('d-m-Y H:i') : '' }}</td>
                <td>{{ booking.duration ? booking.duration.format('%y year(s), %m month(s), %d day(s)') : '' }}</td>
                <td>{{ booking.createdAt ? booking.createdAt|date('d-m-Y H:i') : '' }}</td>
                <td>{{ booking.updatedAt ? booking.updatedAt|date('d-m-Y H:i') : '' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> 

  {% include 'booking/_index.html.twig' %}

{% endblock %}
