{% extends 'base.html.twig' %}

{% block title %}Cottage index{% endblock %}

{% block body %}
    <h1>Gestion des locations</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Prix €</th>
                <th>Capacité</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cottage in cottages %}
            <tr>
                <td>{{ cottage.id }}</td>
                <td>{{ cottage.name }}</td>
                <td>{{ cottage.description }}</td>
                <td>{{ cottage.price }}</td>
                <td>{{ cottage.capacity }}</td>
                <td>
                    <a href="{{ path('app_cottage_show', {'id': cottage.id}) }}">voir</a>
                    <a>ou</a>
                    <a href="{{ path('app_cottage_edit', {'id': cottage.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">pas d'enregistrements trouvés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_cottage_new') }}">Nouveau gîte</a>
    </br>
    <a href="{{ path('app_admin') }}">Retour sur la page admin</a>
{% endblock %}
