{% extends 'base.html.twig' %}

{% block title %}Cottage{% endblock %}

{% block body %}

    <section class="cottage-show py-5">
        <h1 class="text-center mb-3 font-weight-normal">Cottage : {{ cottage.name }}</h1>
        <div class="cottage-banner">
        {% if cottage.banner.path is defined %}
        <img src="/images/{{ cottage.banner.path }}" alt="{{ cottage.name }}"/>
        {% endif %}
        </div>

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ cottage.id }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ cottage.name }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ cottage.description }}</td>
                </tr>
                <tr>
                    <th>Prix</th>
                    <td>{{ cottage.price }} €</td>
                </tr>
                <tr>
                    <th>Capacité</th>
                    <td>{{ cottage.capacity }}</td>
                </tr>
                <tr>
                    <th>Image</th>
                    <td>{{ cottage.banner.path }}</td>
                </tr>

                <tr>
                    <th>Actions</th>
                    <td class="d-flex align-items-start">
                        <a class="btn-home me-3" href="{{ path('app_cottage_edit', {'id': cottage.id}) }}">Modifier</a>
                        {{ include('cottage/_delete_form.html.twig') }}
                    </td>
                </tr>
            </tbody>
        </table>

        <a class="btn-home" href="{{ path('app_cottage_index') }}">Retour à la liste</a>

        
    
    </section>


{% endblock %}
