<div class="container">
    <div class="encart">
        {{ form_start(form) }}
        <div class="class-errors">
            {{ form_errors(form)}}
        </div>

        <!-- 2 column grid layout with text inputs for the first and last names -->
        <div class="row mb-4">
            <div class="col">
                <div class="form-outline">
                    {{ form_widget(form.firstname, {
                        'attr': {
                            'class': 'form-control',
                            'id': 'firstname'
                        }
                    }) }}
                    <label class="form-label" for="firstname">Prénom</label>
                </div>
            </div>
            <div class="col">
                <div class="form-outline">
                    {{ form_widget(form.name, {
                        'attr': {
                            'class': 'form-control',
                            'id': 'name'
                        }
                    }) }}
                    <label class="form-label" for="name">Nom</label>
                </div>
            </div>
        </div>

        <!-- Text input -->
        <div class="form-outline mb-4">
            {{ form_widget(form.adress, {
                'attr': {
                    'class': 'form-control',
                    'id': 'adress'
                }
            }) }}
            <label class="form-label" for="adress">Adresse</label>
        </div>

        <!-- Email input -->
        <div class="form-outline mb-4">
            {{ form_widget(form.email, {
                'attr': {
                    'class': 'form-control',
                    'id': 'email'
                }
            }) }}
            <label class="form-label" for="email">Email</label>
        </div>

        <!-- Number input -->
        <div class="form-outline mb-4">
            {{ form_widget(form.phone, {
                'attr': {
                    'class': 'form-control',
                    'id': 'phone'
                }
            }) }}
            <label class="form-label" for="phone">Téléphone</label>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn-home btn-block mb-4">{{ button_label|default('Sauvegarder') }}</button>

        {{ form_end(form) }}
    </div>
</div>
