{% extends 'base.html.twig' %}


{% block title %}Etang des Garennes{% endblock %}


{% block body %}
    <!--Section: BANNER-->
    <section class="homeHeader bg-image p-5">
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
            <div class="container p-5 d-flex justify-content-evenly align-items-center h-100">
                <div class="row">
                    <div class="d-none d-sm-block col-md-8">
                        <img class="arounded" src="{{ asset('build/logo/logo-green-bg-green-round.png') }}" class="card-img-top" alt="...">
                    </div>
                </div>

                <div class="row text-center">
                    <div class="col-md-12 ps-5">
                      <h1>Bienvenue à l'Etang des Garennes</h1>
                    </div>
                </div>
            
            </div>
        </div>
    </section>
    

    <!--Section: QSN-->
    <section class="container my-5">
        <h2 class="text-center mb-5">Qui sommes-nous ?</h2>

        <div class="row align-items-center">
            <div class="col-lg-5 mb-4 mb-lg-0 pb-2 pb-lg-0 pb-xl-2">
            <img
                src="{{ asset('build/house.jpg') }}"
                class="img-fluid shadow-1-strong rounded"
                alt="Sample image"
            />
            </div>
            <div class="col-lg-7">
            <h3 class="mb-4">Votre havre de paix !</h3>
            <p>
                Niché au cœur d'un environnement verdoyant et paisible, ce gîte enchanteur borde les rives d'un étang cristallin, offrant un refuge idéal pour les passionnés de pêche. Entouré par la nature luxuriante, il invite les initiés à s'imprégner de l'ambiance sereine et à se connecter avec les eaux calmes et claires de l'étang.

                
            </p>
            <p>
                Le gîte lui-même est un véritable havre de paix, conçu avec amour pour créer une expérience intime et authentique. Son architecture traditionnelle s'harmonise parfaitement avec le paysage environnant, tandis que son intérieur chaleureux et confortable procure une sensation de bien-être.

                Chaque matin, vous vous éveillez aux doux chants des oiseaux, avant de vous diriger vers l'étang ensoleillé.
            </p>
            </div>
        </div>
    </section>

    <!--Section: Paralax & citation-->
    <section>
        <div class="paralax-bg bg-image bg-fixed text-center">
            <div class="mask" style="background-color: rgba(63, 81, 181, 0.3)">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="text-white m-5">
                        <p class="text-white display-6 mb-5">
                        <i class="fas fa-quote-left fa-xs" aria-hidden="true"></i>
                        Le repos est le bien le plus précieux que l'homme puisse acquérir pour sa santé et sa sagesse.
                        <i class="fas fa-quote-right fa-xs" aria-hidden="true"></i>
                        </p>
                        <p class="text-white lead font-italic mb-0">~ René Descartes</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!--Section: Cottages-->
    <section class="cottages m-5 text-center">
      <h2 class="my-5">Nos chambres</h2>

      <p class="mx-5">
        Les chambres vous offrent une ambiance chaleureuse et accueillante. Chacune d'entre elles est soigneusement aménagée pour offrir un confort optimal. Les meubles en bois naturel et les couleurs apaisantes créent une atmosphère propice à la détente. Les larges fenêtres laissent entrer la lumière naturelle et offrent une vue magnifique sur la nature environnante. Que ce soit pour une escapade romantique ou une retraite tranquille, ces chambres offrent un refuge idéal pour se ressourcer et se reposer en toute quiétude.
      </p>
      <div class="row m-5 justify-content-md-center">
      {% for cottage in cottages %}
        <div class="col-lg-4 col-md-8 mb-4">
          <div class="card h-100">
            <div
              class="bg-image hover-overlay hover-zoom ripple fix-size"
              data-mdb-ripple-color="light"
            >
              <img
                src="{{ asset('build/pexels-maria-orlova-4906407.jpg') }}"
                class="card-img-top"
              />
              <a href="{{ path('app_cottage_id', {'id': cottage.id}) }}">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.15)"
                ></div>
              </a>
            </div>
            <div class="card-body">
              <h3 class="card-title">{{ cottage.name }}</h3>
              <h4 class="card-subtitle">{{ cottage.price }}€</h4>
              <p class="card-text">
                {{ cottage.description }}
              </p>
            </div>
            <div class="card-footer">
              <a href="{{ path('app_cottage_id', {'id': cottage.id}) }}" class="btn-home mb-2 btn-block">Voir</a>
            </div>
          </div>
        </div>
        {% endfor %}
        
      </div>
    </section>

    <section class="gallery my-5 text-center">
      <h2 class="mb-5">Nos chambres en photo</h2>

      <p class="mb-5 mx-auto w-responsive">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum laborum
        animi doloremque nam dicta veniam dolor ea nostrum excepturi laboriosam
        molestiae, expedita odit id! Sunt quia cumque consequatur perferendis
        hic.
      </p>

       <div class="lightbox mx-5">
        
        <div class="row g-0">


          <div class="col-lg-4">
              <img
                src="{{ asset('build/pexels-tatiana-syrikova-3934054.jpg')}}"
                alt="Lightbox image 1"
                class="w-100"
              />
          </div>

          <div class="col-lg-4">
            <img
                src="{{ asset('build/pexels-kate-stollery-2869499.jpg')}}"
                alt="Lightbox image 2"
                class="w-100"
            />
          </div>

          <div class="col-lg-4">
              <img
                src="{{ asset('build/pexels-tatiana-syrikova-3932957.jpg')}}"
                alt="Lightbox image 1"
                class="w-100"
              />
            </div>
            
        </div>

        <div class="row g-0">
  
          <div class="col-lg-4">
            <img
              src="{{ asset('build/pexels-paul-g-13615276.jpg')}}"
              alt="Lightbox image 3"
              class="w-100"
            />
          </div>

          <div class="col-lg-4">
            <img
              src="{{ asset('build/boat-house-cottage-waters-lake-65225.jpeg') }}"  
              alt="Lightbox image 1"
              class="w-100"
            />
          </div>
        
          <div class="col-lg-4">
            <img
              src="{{ asset('build/pexels-paul-g-13615338.jpg')}}"
              alt="Lightbox image 1"
              class="w-100"
            />
          </div>
        </div>

        <div class="row g-0">
          <div class="col-lg-4">
            <img
              src="{{ asset('build/swan.jpg')}}"
              alt="Lightbox image 1"
              class="w-100"
            />
          </div>

          <div class="col-lg-4">
              <img
                src="{{ asset('build/pexels-charlotte-may-5824497.jpg')}}"
                alt="Lightbox image 1"
                class="w-100"
              />
          </div>
          
          <div class="col-lg-4">
            <img
              src="{{ asset('build/pexels-photo-1795506.jpeg')}}"
              alt="Lightbox image 1"
              class="w-100"
            />
          </div>
        </div>
        
      </div>
    </section>


{% endblock %}
